{% extends 'base.html.twig' %}

{% block contenu %}
    <center>


    <br><br><br><b>Liste des entreprises proposant un stage :</b>

    {% for entreprise in listeEntreprises%}

        <br><br><a href="{{path( 'prostages_entreprise', {'id':entreprise.id} )}}">{{entreprise.nom}}</a>

    {% endfor %}


    </center>
{% endblock %}