{% extends 'base.html.twig' %}


{% block contenu %}

{% for entreprise in listeEntreprises%}
    <br><a href="{{path( 'prostages_entreprise', {'id':entreprise.id} )}}">{{entreprise.nom}}</a>
    {% endfor %}

{% endblock %}