{% extends 'base.html.twig' %}


{% block contenu %}

{% for formation in listeFormations %}

    <br><a href="{{path( 'prostages_formation', {'id':formation.id} )}}">{{formation.nomCourt}}</a>

{% endfor %}

{% endblock %}
