{% extends 'base.html.twig' %}

{% block contenu %}
    <center>


    <br><br><br><b>Nom :</b> {{uneFormation.nomCourt}}
    <p>({{uneFormation.nomLong}})</p><br><br>


    {% for stage in uneFormation.stages %}

        <b>Recherché :</b> {{stage.titre}}

    {% endfor %}


    </center>
{% endblock %}
