{% extends 'base.html.twig' %}

{% block contenu %}
    <center>


    <br><br><br><b>Liste des formations :</b>


    {% for formation in listeFormations %}

        <br><br><a href="{{path( 'prostages_formation', {'id':formation.id} )}}">{{formation.nomCourt}}</a>

    {% endfor %}

    </center>
{% endblock %}
