{% extends 'base.html.twig' %}

{% block contenu %}
    <center>


    <p><br><br><b>Listes des stages proposés :</b></p>


    {% for stage in listeStages%}

        <br><a href="{{path( 'prostages_stages', {'id':stage.id} )}}">{{stage.titre}}</a><br>

    {% endfor %}


    </center>
{% endblock %}

