{% extends 'base.html.twig' %}


{% block contenu %}

<h1> Bienvenue sur prostages ! </h1>

<p>
Cette page présente tous les stages/entreprises/formations disponibles sur le site de l'UPPA.
</p>

<ul>
    {% for stage in listeStages%}
    <a href="{{path( 'prostages_stages', {'id':stage.id} )}}">{{stage.titre}}</a>
    {% endfor %}
</ul>



{% endblock %}

