{% extends 'base.html.twig' %}


{% block contenu %}

<h1> Bienvenue sur prostages ! </h1>

<p>
Listes des stages proposés :
</p>

<ul>
    {% for stage in listeStages%}
    <br><a href="{{path( 'prostages_stages', {'id':stage.id} )}}">{{stage.titre}}</a><br>
    {% endfor %}
</ul>



{% endblock %}

